.crops {
	margin-top: @spacing-half;
	padding: @spacing-half 0;
	background-color: @brand-quatenary;
}

.crops h1 {
	color: @light-color;
	text-transform: uppercase;
	font-weight: 700;
}

.crops ul li {
	color: @light-color;
	padding: 6px 0;
}
