//Primary coloring
@brand-primary:				rgb(56,178,74);
@brand-secondary:			rgb(51,125,229);
@brand-tertiary:			rgb(110,66,38);
@brand-quatenary:			rgb(20,20,20);

//Brand messages
@brand-success:				@brand-primary;
@brand-info:				@brand-secondary;
@brand-warning:				@brand-tertiary;
@brand-danger:				#f00;

@light-color:				#fff;
@dark-color:				#222;

//Link colors
@link-color:				@brand-primary;
